html {
  min-height: 100%;
  /*  background-image: url(../img/hovedbygget_upclose.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
*/
  /*  background-color: rgb(0, 0, 0, 0.6); */
  background-color: #363420;
  background-blend-mode: multiply;

  font-family: "Merriweather", serif;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  font-size: 60px;
}

#notify-block {
  font-size: 0.3em;
  display: none;
  padding: 20px 10px;
  /*background: #D30000;*/
  background: #de4e4e;
  text-align: center;
  /*font-weight: bold;*/
  color: black;
  border-radius: 27px;
  width: 80vw;
  margin: auto;
  margin-top: 1%;
}

#content-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  top: 50%;
  position: absolute;
  transform: translate(0, -50%);
}

video,
.background {
  position: fixed;
  padding: 0;
  margin: 0;
  right: 50%;
  top: 0;
  z-index: -99;
  transform: translate(50%, 0%);
  filter: brightness(55%);
  /*  min-width: 100vw;
  min-height: 100vh; */
  min-height: 100vh;
  min-width: 100vw;
}

a {
  text-decoration: none;
  color: #144c93;
  color: #de4e4e;
}

.profile-img {
  position: inline-block;
  height: 4em;
  width: 4em;
  /*  margin-top: 10rem;
*/
  box-shadow: 0px 0px 36px 5px rgba(0, 0, 0, 0.49);
}

.rounded {
  border-radius: 100%;
  overflow: hidden;
}

.title {
  color: #de4e4e;
  font-size: 1em;
  text-shadow: 0 0 20px black;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.subtitle {
  text-shadow: 0 0 8px black;
  color: #e2e2e2;
  font-size: 0.4em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.social {
  display: flex;
  flex-direction: row;
  margin-left: 30vw;
  margin-right: 30vw;
  justify-content: space-evenly;
  font-size: 0.5em;
}

.social-icon {
  color: #1b57a6;
  font-size: 1.32em;
  text-shadow: 0 0 15px black;
}

.social-icon-black {
  text-shadow: 0 0 15px rgb(72, 72, 72);
}

.fb-icon {
  color: #3867a4;
}

.gh-icon {
  color: #000000;
}

.mail-icon {
  color: #737373;
}

.social-icon:hover {
  color: #de4e4e;
  color: #999797;
}

@media (max-width: 736px) {
  body {
    font-size: 30px;
  }

  video {
    right: unset;
    transform: unset;
    left: -66%;
  }

  .social {
    font-size: 1em;
    margin-left: 25%;
    margin-right: 25%;
  }

  .subtitle {
    text-shadow: none;
  }
}
